extends MainLayout

block content
    form(method='POST', action='/topic/add')
        input(type="hidden", name="_csrf", value="#{csrftoken}")

        .form-group

            .panel.panel-success.col-md-5
                .panel-heading Main Topic
                .panel-body
                    select(name='myMainTopic')
                        each mainTopic in mainTopics
                            option(value='#{mainTopic._id}')  #{mainTopic.name}

            .panel.panel-success.col-md-5
                .panel-heading Sub Topic
                .panel-body
                    select(name='mySubTopic')
                        each subTopic in subTopics
                            option(value='#{subTopic._id}')  #{subTopic.name}
            .panel.panel-success.col-md-8
                .panel-heading  Topic Name
                .panel-body
                    input.form-control(type='text', name='topicName', placeholder='Temel Alan Adını Giriniz', autofocus='')
            .panel.panel-success.col-md-8
                .panel-heading Topic Definition
                .panel-body
                    input.form-control(type='text', name='topicDefinition', placeholder='Temel Alan Açıklamasını Giriniz', autofocus='')
            .panel.panel-success.col-md-12
                .panel-heading Kavram Tanımı
                br
                textarea#textarea(name='kavram_tanimi')
                script.
                    CKEDITOR.replace('textarea');
            .col-md-9
            .col-md-3
                button.btn.btn-success.btn-block(type='submit') Yorum Gönder

script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
    // InstanceEnd
