//
   Created by TOSHIBA on 29.4.2016.
extends ProfileLayout
block solMenu
    ul.nav.nav-pills.nav-stacked
        li
            a(href='/user/following_list/#{user._id}')
                |  Takip Ettiklerim
        li
            a(href='/chiefEditor/addSubTopic')
                |  Bilim Alanı Ekle
        li.active
            a(href='/chiefEditor/addEditor')
                |  Editör Ekle
        li
            a(href='/topic/onApprove')
                |  Onay Bekleyen Kavramlarım
        li
            a(href='adminInbox.html')
                | Onaylanan Kavramlarım
        li
            a(href='/topic/myDrafts')
                | Taslaklarım

block content
    form(method='post', action='/chiefEditor/addEditor')
        .form-group
            .col-md-1
            .col-md-11
                .panel.panel-success.col-md-5
                    .panel-heading Bilim Alanı
                    .panel-body
                        select(name='subTopicID')
                            if mySubTopics
                                each subTopic in mySubTopics
                                    option(value='#{subTopic._id}')  #{subTopic.name}
                .panel.panel-success.col-md-5
                    .panel-heading Kullanıcı
                    .panel-body
                        select(name='editorID')
                            if myUser
                                each user in myUser
                                    option(value='#{user._id}')  #{user.username}
                .col-md-5
                    button.btn.btn-success.btn-block(type='submit', value='Submit') Kaydet


script(src='js/jquery.min.js')
script(src='js/bootstrap.min.js')
script(src='js/scripts.js')
