extends MainLayout

block content
    form(method='post', action='/topic/addTopic')
        .form-group
            .col-md-1
            .col-md-11
                .panel.panel-success.col-md-4
                    .panel-heading Temel Alan
                    .panel-body
                        select(name='myMainTopic')
                            each mainTopic in mainTopics
                                option(value='#{mainTopic._id}')  #{mainTopic.name}
                .panel.panel-success.col-md-4
                    .panel-heading Bilim Alanı
                    .panel-body
                        select(name='mySubTopic')
                            each subTopic in subTopics
                                option(value='#{subTopic._id}')  #{subTopic.name}
                .panel.panel-success.col-md-4
                    .panel-heading Anahtar Kelime
                    .panel-body
                        select(name='myKeyword')
                            each keyword in keywords
                                option(value='#{keywords._id}')  #{keywords.name}
                .panel.panel-success.col-md-8
                    .panel-heading  Topic Name
                    .panel-body
                        input.form-control(type='text', name='topicName', placeholder='Temel Alan Adını Giriniz', autofocus='')
                .panel.panel-success.col-md-8
                    .panel-heading Topic Özeti
                    .panel-body
                        textarea(name='topicAbstract', value='topicAbstract',  rows='4', cols='50',placeholder='Temel Alan Açıklamasını Giriniz', autofocus='')
                .panel.panel-success.col-md-12
                    .panel-heading Kavram Tanımı
                    br
                    textarea#textarea(name='topicDefinition')
                    script.
                        CKEDITOR.replace('textarea');
                .col-md-5
                    button.btn.btn-success.btn-block(type='submit', value='Submit') Kaydet
                .col-md-5
                    button.btn.btn-info(type='Submit', value='Submit', formaction='/topic/addTopicAsDraft') Taslak Olarak Kaydet


script(src='../ckeditor/ckeditor.js')
script(type='text/javascript', src='http://latex.codecogs.com/integration/ckeditor/ckeditor.js')
script(src='js/jquery.min.js')
script(src='js/bootstrap.min.js')
script(src='js/scripts.js')

