extends MainLayout

block content
    .row
        .col-md-1
        .col-md-10
            ul.list-group
                li.list-group-item.modal-header
                    h3
                        ul.breadcrumb
                            li
                                if screenMainTopic
                                    a(href='/mainTopic/#{screenMainTopic._id}') #{screenMainTopic.name}
                            li
                                if screenSubTopic
                                    a(href='/subTopic/#{screenSubTopic._id}') #{screenSubTopic.name}
                            li
                                if screenTopic
                                    a(href='#') #{screenTopic.name}

                        | !{screenTopic.definition}
                        .row
                            .col-md-2
                                a(href='/#{screenTopic.author}') Yazar
                            .col-md-8
                            .col-md-2
                                span #{screenTopic.author}



//block solMenu
                .list-group
                    span.list-group-item.active(href='#')
                        | Ana Başlıklar
                        span#slide-submenu.pull-right
                            i.fa.fa-times
                    each mainTopic in mainTopics
                        a.list-group-item(href='/mainTopic/#{mainTopic._id}')
                            i.fa
                            |  #{mainTopic.name}
                            if mainTopic.relevantSubTopics.length > 0
                                span.badge 1
                            else
                                span.badge 0


block sagMenu
    if user
        .list-group
            span.list-group-item.active(href='#')
                | Takip Edilen Kavramlar
                span#slide-submenu.pull-right
                    i.fa.fa-times
            a.list-group-item(href='#')
                i.fa
                |  java
                span.badge 124


        .list-group
            span.list-group-item.active(href='#')
                | Tavsiye Edilen Kavramlar
                span#slide-submenu.pull-right
                    i.fa.fa-times
            a.list-group-item(href='#')
                i.fa
                |  java
                span.badge 124

//block sagUstMenu
    if !user
        ul.nav.navbar-nav.navbar-right
            .navbar-form.form-group
                button.btn.btn-success(type= 'submit', name = 'Submit', onclick="location.href='/user/login';")
                    | Giriş
                button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/register';")
                    | Kaydol !


    if user
        ul.nav.navbar-nav.navbar-right
            .navbar-form.form-group
                button.btn.btn-success(type='submit', name = 'Submit' onclick="location.href='/topic/addTopic';")
                    span.glyphicon.glyphicon-plus(aria-hidden='true')
                        |  Kavram Ekle
                if user.role == 'editor'
                    button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/editorProfile';")
                        | Editor Profili !
                else
                    if user.role == 'admin'
                        button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/adminProfile';")
                            | Admin profili !
                    else
                        if user.role == 'author'
                            a.btn.btn-info.btn-md(href='/user/authorProfile')
                                span.glyphicon.glyphicon-user
                                |  Profil
                        else
                            if user.role == 'chiefEditor'
                                a.btn.btn-info.btn-lg(href='/user/chiefEditorProfile')
                                    span.glyphicon.glyphicon-user
                                    |  Chief Profile
                button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/logout';")
                    | Çıkış !

script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')