extends MainLayout

block content
    .row
        .col-md-1
        .col-md-10
            ul.list-group
                li.list-group-item.modal-header
                    h3
                        //ul.breadcrumb
                        //    li
                        //        if screenMainTopic
                        //            a(href='/mainTopic/#{screenMainTopic._id}') #{screenMainTopic.name}
                        //    li
                        //        if screenSubTopic
                        //            a(href='/subTopic/#{screenSubTopic._id}') #{screenSubTopic.name}
                        //    li
                        //        if screenTopic
                        //            a(href='/test/git') #{screenTopic.name}
                        .breadcrumb
                            if screenMainTopic
                                a(href='/mainTopic/#{screenMainTopic._id}') #{screenMainTopic.name}
                            if screenSubTopic
                                a(href='/subTopic/#{screenSubTopic._id}') #{screenSubTopic.name}
                            if screenKeyword
                                a(href='/keyword/#{screenKeyword._id}') #{screenKeyword.name}
                            if screenTopic
                                a(href='/topic/getTopic/#{screenTopic._id}') #{screenTopic.name}

                        if screenTopic
                            | !{screenTopic.definition}
                            if topicUser
                                .row
                                    .col-md-2
                                        a(href='/#{screenTopic.author}') #{topicUser.username}
                                    .col-md-6
                                    .col-md-4
                                        span #{moment(screenTopic.createdAt).format('DD/MM/YYYY')}
                        .row
                            if user
                                if screenTopic
                                    if screenTopic.allowStatus
                                        if !followerControl
                                            .col-md-6
                                            .col-md-3
                                                form(method='POST', action='/user/follow/#{screenTopic._id}')
                                                    .form-group
                                                        button.btn.btn-success(type='Submit', value='Submit')
                                                            span.glyphicon.glyphicon-arrow-right(aria-hidden='true')
                                                            | Takip Et
                                            .col-md-3

script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')