doctype html
html(lang='en')

    head
        title Kavram Takip Sistemi
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(type='text/css', rel='stylesheet', href='../css/materialize.css', media='screen,projection')
        link(href='../css/bootstrap.min.css', rel='stylesheet')
        link(href='../css/style.css', rel='stylesheet')
        link(href='../css/dataTable.css', rel='stylesheet')
        script(src='../ckeditor/ckeditor.js')
        script(type='text/javascript', src='http://latex.codecogs.com/integration/ckeditor/ckeditor.js')
        script(src='../js/scripts.js')
        script(src='../js/jquery-2.2.2.js')
        script(type='text/javascript', src='//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js')
        script(src='../js/dirPagination.js')
        script(type='text/javascript').
    body
        != messages()
        .container-fluid
            .row
                .col-md-12
                    nav.navbar.navbar-inverse
                        .container-fluid
                            // Brand and toggle get grouped for better mobile display
                            .navbar-header
                                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                                    span.sr-only Toggle navigation
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                                a.navbar-brand(href='/') KavramTakip
                            // Collect the nav links, forms, and other content for toggling
                            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                                .col-md-3
                                form.navbar-form.navbar-left(role='search')
                                    .form-group
                                        input.form-control(type='text', placeholder='Kavram adı giriniz')
                                        button.btn.btn-default(type='submit') Ara

                                        // Guest access
                                if !user
                                    ul.nav.navbar-nav.navbar-right
                                        .navbar-form.form-group
                                            button.btn.btn-success(type= 'submit', name = 'Submit', onclick="location.href='/user/login';")
                                                | Giriş
                                            button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/register';")
                                                | Kaydol !


                                if user
                                    ul.nav.navbar-nav.navbar-right
                                        .navbar-form.form-group
                                            button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/topic/addTopic';")
                                                span.glyphicon.glyphicon-plus(aria-hidden='true')
                                            if user.role == 'editor'
                                                button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/editorProfile';")
                                                    | Editor Profili !
                                            else
                                                if user.role == 'admin'
                                                    button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/adminProfile';")
                                                        | Admin profili !
                                                else
                                                    if user.role == 'author'
                                                        a.btn.btn-info.btn-lg(href='/user/authorProfile')
                                                            span.glyphicon.glyphicon-user
                                                            |  Profil
                                                    else
                                                        if user.role == 'chiefEditor'
                                                            a.btn.btn-info.btn-lg(href='/user/chiefEditorProfile')
                                                                span.glyphicon.glyphicon-user
                                                                |  Chief Profile
                                            button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/logout';")
                                                | Çıkış !
                    .row
                        .col-md-2
                            .list-group
                                span.list-group-item.active(href='#')
                                    | Ana Başlıklar
                                    span#slide-submenu.pull-right
                                        i.fa.fa-times
                                each mainTopic in mainTopics
                                    a.list-group-item(href='/mainTopic/#{mainTopic._id}')
                                        i.fa
                                        |  #{mainTopic.name}
                                        if mainTopic.relevantSubTopics.length > 0
                                            span.badge 1
                                        else
                                            span.badge 0

                        .col-md-8
                            .row
                                .col-md-1
                                .col-md-10
                                    ul.list-group
                                        li.list-group-item.modal-header
                                            h3
                                                ul.breadcrumb
                                                    li
                                                        if screenMainTopic
                                                            a(href='/mainTopic/#{screenMainTopic._id}') #{screenMainTopic.name}
                                                    li
                                                        if screenSubTopic
                                                            a(href='/subTopic/#{screenSubTopic._id}') #{screenSubTopic.name}
                                                    li
                                                        if screeenTopic
                                                            a(href='#') #{screenTopic.name}

                                                | !{screenTopic.definition}
                                                .row
                                                    .col-md-2
                                                        a(href='/#{screenTopic.author}') Yazar
                                                    .col-md-8
                                                    .col-md-2
                                                        span #{screenTopic.author}


                                        //if user
                                        //    li.list-group-item
                                        //        form(method='post', action='/users/addComment', role='form')
                                        //            textarea#textarea(name='commentBody')
                                        //            script.
                                        //                CKEDITOR.replace('textarea');
                                        //            br
                                        //            .row
                                        //                .col-md-6
                                        //                    button.btn.btn-default.btn-block(type='submit')
                                        //                        | Taslak Olarak Kaydet    
                                        //                        span.glyphicon.glyphicon-pencil(class='aria-hidden=')
                                        //                .col-md-6
                                        //                    button.btn.btn-success.btn-block(formaction='/comment/addComment', type='submit')
                                        //                        | Gönder
                                .col-md-1
                        .col-md-2
                            if user
                                .list-group
                                    span.list-group-item.active(href='#')
                                        | Takip Edilen Kavramlar
                                        span#slide-submenu.pull-right
                                            i.fa.fa-times
                                    a.list-group-item(href='#')
                                        i.fa
                                        |  java
                                        span.badge 124


                                .list-group
                                    span.list-group-item.active(href='#')
                                        | Tavsiye Edilen Kavramlar
                                        span#slide-submenu.pull-right
                                            i.fa.fa-times
                                    a.list-group-item(href='#')
                                        i.fa
                                        |  java
                                        span.badge 124
            .fixed-action-btn.horizontal(style='bottom: 45px; right: 24px;')
                a.btn-floating.btn-large.red
                    i.large.material-icons mode_edit
                ul
                    li
                        a.btn-floating.red
                            i.material-icons insert_chart
                    li
                        a.btn-floating.yellow.darken-1
                            i.material-icons format_quote
                    li
                        a.btn-floating.green
                            i.material-icons publish
                    li
                        a.btn-floating.blue
                            i.material-icons attach_file

        script(src='../js/jquery.min.js')
        script(src='../js/bootstrap.min.js')
        script(src='../js/scripts.js')
        script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
        script(type='text/javascript', src='../js/materialize.js')
