doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/bootstrap.css')
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')
        script(src='/js/jquery.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/scripts.js')
        script(src='/ckeditor/ckeditor.js')
        script(type='text/javascript', src='http://latex.codecogs.com/integration/ckeditor/ckeditor.js')
    body
        != messages()
        .container-fluid
            .row
                .col-md-12
                    nav.navbar.navbar-inverse
                        .container-fluid
                            // Brand and toggle get grouped for better mobile display
                            .navbar-header
                                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                                    span.sr-only Toggle navigation
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar

                                a(href='/')
                                    img(src='/logo.jpg', height=60, width=60)
                                a.navbar-brand(href='/') KavramTakip
                            // Collect the nav links, forms, and other content for toggling
                            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                                .col-md-3
                                form.navbar-form.navbar-left(role='search')
                                    .form-group
                                        input.form-control(type='text', placeholder='Kavram adı giriniz')
                                        button.btn.btn-default(type='submit') Ara

                                        // Guest access
                                if !user
                                    ul.nav.navbar-nav.navbar-right
                                        .navbar-form.form-group
                                            button.btn.btn-success(type= 'submit', name = 'Submit', onclick="location.href='/user/login';")
                                                | Giriş
                                            button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/register';")
                                                | Kaydol

                                if user
                                    if user.role == 'admin'
                                        //ul.nav.navbar-nav.navbar-right
                                            .navbar-form.form-group
                                                button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/adminProfile';")
                                                    | Chief Editor Ekle #{user.firstName} !
                                            .navbar-form.form-group
                                                button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/users/addMainTopic';")
                                                    | Main Topic Ekle #{user.firstName} !
                                    else
                                        if user.role == 'chiefEditor'
                                            //ul.nav.navbar-nav.navbar-right
                                                .navbar-form.form-group
                                                    button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/users/logout';")
                                                        |  Editör Ekle #{user.firstName}!
                                                .navbar-form.form-group
                                                    button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/users/addSubTopic';")
                                                        |  SubTopic Ekle #{user.firstName}!
                                        else
                                            if user.role == 'editor'
                                                ul.nav.navbar-nav.navbar-right

                                            //else
                                            //    if user.role == 'author'
                                            //        ul.nav.navbar-nav.navbar-right
                                            //            .navbar-form.form-group
                                            //                button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/users/logout';")
                                            //                    |  Hoşgeldin #{user.firstName}!

                                    ul.nav.navbar-nav.navbar-right
                                        .navbar-form.form-group
                                            if user.role == 'admin'
                                                button.btn.btn-info(type='submit', name = 'Submit' onclick="location.href='/user/adminProfile';")
                                                    | Admin Profil
                                            else
                                                if user.role == 'chiefEditor'
                                                    button.btn.btn-info(type='submit', name = 'Submit' onclick="location.href='/user/chiefEditorProfile';")
                                                        | Baş Editör Profil
                                                else
                                                    if user.role == 'editor'
                                                        a.btn.btn-info.btn-md(href='/user/editorProfile')
                                                            span.glyphicon.glyphicon-user
                                                            |  Editör Profil
                                                    else
                                                        if user.role == 'author'
                                                            a.btn.btn-info.btn-md(href='/user/authorProfile')
                                                                span.glyphicon.glyphicon-user
                                                                |  Profil

                                            button.btn.btn-warning(type='submit', name = 'Submit' onclick="location.href='/user/logout';")
                                                | Çıkış !
                    .row
                        .col-md-2
                            block solMenu
                        .col-md-8
                            block content
                        .col-md-2
                            block sagMenu

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
    // script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )

