//
   Created by TOSHIBA on 24.5.2016.
extends MainLayout

block content
    .row
        .col-md-1
        .col-md-10
            h3
                label #{viewUser.firstName} &nbsp
                label #{viewUser.lastName}
            h4 Yazdığı Kavramlar
                table.table.table-responsive
                    tbody
                        tr
                        if topics.length > 0
                            each topic in topics
                                td.col-md-4(style='display: block; float: left;')
                                    a(style='color:#5cb85c;', href='/topic/getTopic/#{topic._id}') #{topic.name}
                        else
                            br
                            i
                                p
                                    | Bu kişi kavram yazmamıştır.
            form(method='post', action='/public_profile/sendMessage')
                input(type="hidden", name="_csrf", value="#{csrftoken}")
                .form-group
                    .panel.panel-info.col-md-11
                        .panel-heading  Mesaj
                        .panel-body
                            input.form-control(type='text', name='messageSubject', placeholder='Mesaj Konusunu Giriniz', autofocus='')
                            textarea.form-control(name='messageContent',value='messageContent', placeholder='Göndermek İstediğiniz Mesajı Giriniz', autofocus='')
                            input.form-control(type='hidden', name='toId',value='#{viewUser._id}', placeholder='Mesaj Konusunu Giriniz', autofocus='')
                    .col-md-5
                        button.btn.btn-success.btn-block(type='submit', value='Submit') Mesaj Gönder
        .col-md-1

script(src='/public/js/jquery.min.js')
script(src='/public/js/bootstrap.min.js')
script(src='/public/js/scripts.js')

