//
   Created by TOSHIBA on 9.5.2016.


extends MainLayout

block content
    .row
        .col-md-1
        .col-md-10
            ul.list-group
                li.list-group-item.modal-header
                    h3
                        .breadcrumb
                            if screenMainTopic
                                    a(href='/mainTopic/#{screenMainTopic._id}') #{screenMainTopic.name}
                            if screenSubTopic
                                a(href='/subTopic/#{screenSubTopic._id}') #{screenSubTopic.name}
                            if screenKeyword
                                a(href='/keyword/#{screenKeyword._id}') #{screenKeyword.name}
                            if topic
                                a(href='/topic/getTopic/#{topic._id}') #{topic.name}

                        | !{topic.definition}
                        .row
                            .col-md-2
                                a(href='/#{topic.author}') #{userName}
                            .col-md-7
                            .col-md-3
                                span #{moment(topic.createdAt).format('DD/MM/YYYY')}

                        if user.role == 'editor'
                            if !topic.allowStatus.status
                                .row
                                    form(method='POST', action='/topic/approveByEditor/#{topic._id}')
                                        .form-group
                                            .col-md-12
                                                .col-md-4
                                                .col-md-4
                                                    button.btn.btn-success(type='Submit', value='Submit') Onayla
                                                .col-md-4
                                                    button.btn.btn-warning(type='Submit', value='Submit', formaction='/topic/rejectTopic/#{topic._id}') Reddet
                                            br
                                            br
                                            .col-md-12
                                                .form-group
                                                    textarea(name='rejectReason', value='rejectReason',  rows='4', cols='50',placeholder='Red sebebini giriniz', autofocus='')
                        .row
                            if user
                                if topic.allowStatus.status
                                    if !followerControl
                                        .col-md-6
                                        .col-md-3
                                            form(method='POST', action='/user/follow/#{topic._id}')
                                                .form-group
                                                    button.btn.btn-success(type='Submit', value='Submit')
                                                        span.glyphicon.glyphicon-arrow-right(aria-hidden='true')
                                                        | Takip Et
                                        .col-md-3
        .col-md-1





script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')