//
   Created by TOSHIBA on 9.5.2016.


extends MainLayout

block content
    .row
        .col-md-1
        .col-md-10
            ul.list-group
                li.list-group-item.modal-header
                    h3
                        ul.breadcrumb
                            li
                                if screenMainTopic
                                    a(href='/mainTopic/#{screenMainTopic._id}') #{screenMainTopic.name}
                            li
                                if screenSubTopic
                                    a(href='/subTopic/#{screenSubTopic._id}') #{screenSubTopic.name}
                            li
                                if topic
                                    a(href='#') #{topic.name}

                        | !{topic.definition}
                        .row
                            .col-md-2
                                a(href='/#{topic.author}') #{userName}
                            .col-md-8
                            .col-md-2
                                span #{topic.createdAt}

                        if user.role == 'editor'
                            if !topic.allowStatus
                                .row
                                    .col-md-4
                                    .col-md-4
                                        form(method='POST', action='/topic/approveByEditor/#{topic._id}')
                                            .form-group
                                                button.btn.btn-success(type='Submit', value='Submit') Onayla
                                    .col-md-4
                                        button.btn.btn-warning(type='Submit', value='Submit') Reddet
                        .row
                            if user
                                if topic.allowStatus
                                    .col-md-6
                                    .col-md-3
                                        form(method='POST', action='/user/follow/#{topic._id}')
                                            .form-group
                                                button.btn.btn-success(type='Submit', value='Submit')
                                                    span.glyphicon.glyphicon-arrow-right(aria-hidden='true')
                                                    | Takip Et
                                    .col-md-3
        .col-md-1





script(src='../js/jquery.min.js')
script(src='../js/bootstrap.min.js')
script(src='../js/scripts.js')
script(type='text/javascript', src='https://code.jquery.com/jquery-2.1.1.min.js')
script(type='text/javascript', src='../js/materialize.js')