extends MainLayout

block content
    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger #{error.msg}
    form#productForm.form-horizontal(role='form', action='/user/register', method='post')
        .row
            .col-md-2
            .col-md-8
                .form-group
                    label İsim
                    if firstName
                        input.form-control(type='text', name='firstName', placeholder='Adınızı Giriniz', autofocus='', value = '#{firstName}')
                    else
                        input.form-control(type='text', name='firstName', placeholder='Adınızı Giriniz', autofocus='', value = '')
                .form-group
                    label Soyisim
                    if lastName
                        input.form-control(type='text', name='lastName', placeholder='Soyadınızı Giriniz', autofocus='', value = '#{lastName}')
                    else
                        input.form-control(type='text', name='lastName', placeholder='Soyadınızı Giriniz', autofocus='')
                .form-group
                    label Kullanıcı Adı
                    if username
                        input#userName.form-control(type='text', name='username' placeholder='Kullanıcı Adı Giriniz', autofocus='', value = '#{username}')
                    else
                        input#userName.form-control(type='text', name='username' placeholder='Kullanıcı Adı Giriniz', autofocus='')
                .form-group
                    label E-mail
                    if email
                        input.form-control(type='email', name='email' placeholder='E-mail Giriniz', value='#{email}')
                    else
                        input.form-control(type='email', name='email' placeholder='E-mail Giriniz')
                .form-group
                    label Şifre
                    input#password.form-control(type='password', name = 'password', placeholder='Şifre Giriniz')
                .form-group
                    label Şifre Tekrar
                    input#passwordRepeat.form-control(type='password', name = 'passwordConfirm', placeholder='Şifreyi Tekrar Giriniz')
                //.form-group
                //    label.col-sm-3.control-label Alanınız
                //    .col-sm-9(ng-app='myApp', ng-controller='myCtrl')
                //        select.form-control(name='size')
                //            option(value='') Seçiniz
                //            option(value='', ng-repeat='x in names') {{ x }}
                //.form-group
                //    label.col-sm-3.control-label Sonuç nedir?
                //    .col-sm-9
                //        script(type='text/javascript').
                //            DrawBotBoot()
                //        input#Button1(type='button', value='Check', onclick='alert(ValidBotBoot());')
                //.form-group
                //    .col-sm-9.col-sm-offset-3
                //        .checkbox
                //            label
                //                input(type='checkbox')
                //                a(href='#') Lisans sözleşmesini
                //                | okudum ve kabul ediyorum
                // /.form-group
                //.form-group
                //    .col-sm-9.col-sm-offset-3
                input.btn.btn-success(name = 'Submit', type = 'submit', value = 'Kayıt Ol')
            .col-md-2
            //form

            script(src='../js/jquery.min.js')
            script(src='../js/datepicker.js')
            script(src='../js/bootstrap.min.js')
            script(src='../js/scripts.js')
            script.
                $(document).ready(function() {
                    $('#productForm')
                            .formValidation({
                                framework: 'bootstrap',
                                icon: {
                                    valid: 'glyphicon glyphicon-ok',
                                    invalid: 'glyphicon glyphicon-remove',
                                    validating: 'glyphicon glyphicon-refresh'
                                },
                                excluded: ':disabled',
                                fields: {
                                    size: {
                                        validators: {
                                            notEmpty: {
                                                message: 'The size is required'
                                            }
                                        }
                                    },
                                    color: {
                                        validators: {
                                            notEmpty: {
                                                message: 'The color is required'
                                            }
                                        }
                                    }
                                }
                            })
                            // Using Bootbox for color and size select elements
                            .find('[name="color"], [name="size"]')
                            .combobox()
                            .end()
                });
